@model ReservApp.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier ma réservation</h1>

<hr style="width: 36%; float: left;"/>

<div class="container_roleMng" style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center; width: 113%;">
    <div class="box1" style="padding-bottom: 6rem; width: 25rem; padding-left: 4rem;">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" disabled />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="Type" class="form-control">
                            <option value="">Choisir un créneau</option>
                            <option value="9h à 17h">9h à 17h</option>
                            <option value="17h à 20h">17h à 20h</option>
                            <option value="Week-End">Week-End</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" value="En Attente" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cause" class="control-label"></label>
                        <input asp-for="Cause" class="form-control" />
                        <span asp-validation-for="Cause" class="text-danger"></span>
                    </div>

                    <div class="form-group" hidden>
                        <label asp-for="ApprenantsId" class="control-label"></label>
                        <input asp-for="ApprenantsId" class="form-control" />
                        @*<select asp-for="ApprenantsId" class="form-control" asp-items="ViewBag.ApprenantsId"></select>*@
                        <span asp-validation-for="ApprenantsId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Valider" class="btn btn-primary" /> |
                        <a asp-action="IndexSTD" class="btn btn-outline-dark">Retourner à la liste</a>
                    </div>
                </form>

    </div>

    <div class="box2" style="margin-top: -6rem; width: 45rem">
        <img src="~/img/undraw_publish_post_vowbpng22.png" style="width:100%" />
     </div>

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
