@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p>Cette option sera accéssible quand un admin aura validé votre profile</p>
    <p>Vous pouvez aller boire un café en attendant ! ( ou plusieurs Xp )</p>
    <div class="box1" style="flex-grow: 2">
        <img src="~/img/undraw_coffee_break_j3ofpng.png" style="width: 39rem;display:block; margin: 1rem auto auto auto"/>
    </div>
</header>
